DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=zimparks_db
DB_PORT=3306
SESSION_SECRET=change_this_secret
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=you@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM_NAME=zimparks
EMAIL_FROM_ADDRESS=you@gmail.com
EMAIL_ALLOW_SELF_SIGNED=false
ADMIN_REG_KEY=zimparks_admin_2024
PORT=3000
